.video-indeci{margin-bottom: 1.5em;}
.mt-1{margin-top: 1em;}
.mt-2{margin-top: 2em;}
.mt-3{margin-top: 3em;}
.content-text a{color: #f2b125;text-decoration: underline;}
.btn-link{padding: .5em 1em;background-color: #00639e;color:white;border-radius: 5px;}
.btn-link:hover{background-color: #ed8600;color:#dadada;text-decoration: none;}
.border{border:1px solid red;}