/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina|Pattaya|Roboto:400,700,900');
/*VARIABLES*/
blue = #00639e;
yellow = #edbe01;
green = #009045;
greenLight = #a7b82b;
orange = #d28200;
red = #bf0811;
purple = #65147d;
/*UTIL*/
.text-center
	text-align: center
.wrapper
	max-width: 1300px;
	margin: 0 auto; 
.bg-blue
	background-color: blue;
.bg-yellow 
	background-color: yellow
.bg-green
	background-color: green
.bg-orange
	background-color: orange
.bg-red
	background-color: red
.m-0
	margin 0 !important
.hidden 
	display none
/*GENERAL*/	
html,body 
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	color #333
a 
	text-decoration: none
/*TOP BAR*/
.top
	background-color: blue
	text-align: right
	height: 34px
	a 
		display inline-block
		color #fff
		padding: .95em 1em;
		font-size: .85em
		transition-duration 0.35s
		&:hover 
			background-color: white 
			color blue
.search-box
	display inline-block
	margin-top: 5px
	input 
		background-color: #FFF
		border-radius 10px
		border 0
		outline none
		padding: .25em 1.5em .25em 2em
	form 
		position: relative
		input 
			font-family: 'Roboto Condensed',sans-serif;
		&:before
			content: "\f002";
			position: absolute;
			left: .75em;
			top: .5em;
			color: #59595c;
			font-size: .85em;
header 
	.logo
		float left
		margin-top: -12px
		max-width: 220px
	.ministerio
		float right
		margin-top: -10px;
		max-width: 170px
		color blue
		font-weight: bold
		font-size: 1.15em
	&>.wrapper
		padding: 2.5em 0 3em
		text-align: center
	nav 
		display inline-block
		text-align: center;
		font-size: 1.1em;
		ul 
			position relative
		ul,li 
			padding 0
			margin 0
			list-style: none
		li 
			display: inline-block;
			font-weight: bold;
			max-width: 280px
			text-align: left;
			vertical-align: middle;
		a 
			color blue
			padding: .35em 1em;
			display: block;
			text-align: left;
			transition-duration 0.5s
			position: relative
			&::before 
				content: "";
				position: absolute;
				top: 50%;
				height: 35px;
				width: 0%;
				left: 10%;
				background: transparent;
				opacity: 0;
				transition-duration: .35s;
			&:hover
				color orange
			&:hover:before
				width: 80%;
				opacity: 1
				color orange
				text-decoration: underline
/*Alerts*/
.btn-download
	display block 
	padding: 1em 2em;
	background-color: #062d6e59 
	color #fff
	max-width 250px 
	margin 0  auto
	text-align: center 
	border-radius 30px
	font-weight: 900 
	letter-spacing: 2px
.alerts 
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	overflow: hidden;
	height: 90px
	opacity: 0
	transition-duration 1s
	article 
		display block
		padding-left: 4.15em;
		padding-right: .5em
		height: 90px;
		background-image: url('../img/icon-transparent.png')
		background-repeat: no-repeat
		background-size: 40px 37px;
		background-position: .65em 1.8em;
		position relative
		transition-duration 0.35s
		h2 ,a 
			margin 0
			display inline-block
		h2 
			position absolute 
			top 50%
			width: 80%
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			text-transform: uppercase;
		a
			color: white;
			font-weight: 100;
			font-size: 10px;
			line-height: 1.3em;
			display: inline-block;
			letter-spacing: 0px;
			vertical-align: middle;
			letter-spacing: 1px
		&:hover 
			-webkit-transform: scale(1.05);
			   -moz-transform: scale(1.05);
			    -ms-transform: scale(1.05);
			     -o-transform: scale(1.05);
			        transform: scale(1.05);
		&::before
			content ""
			position absolute
			left 0 
			bottom 0
			width: 0%
			height: 4px 
			background-color: #FFF
			transition-duration 0.5s
			opacity: 0
		&:hover::before
			width: 100%
			opacity: 0
.unslider
	position relative
	.unslider-nav
		display none
.slick-dots
	padding 0
	li 
		list-style: none
		display inline-block
		font-size: 0
		button 
			border 2px solid #fff 
			height: 15px
			width: 15px
			background-color: transparent
			margin 0 3px
			cursor pointer 
			outline none
			border-radius 50%
		&.slick-active
			button 
				background-color: #FFF
				border 2px solid #fff 
img 
	max-width: 100%
/*Banners*/

.banners 
	overflow hidden
	max-height: 580px
	.wrapper 
		position relative 
		z-index 99
		a.btn-orange
			position: absolute;
			padding: .85em 1.5em;
			background-color: #ed8601;
			color: #fff;
			top: 0;
			left: 0;
			z-index: 99;
			font-size: 21px;
			border-bottom-right-radius: 18px;
			font-weight: 900;
			letter-spacing: 1px;
	img 
		min-height: 400px;
		width: 100%
	ul, li 
		list-style: none 
		margin 0 
		padding 0
	li 
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: center center;
		&>a 
			position relative 
			z-index 9
		
/*Notifications*/
.notifications
	overflow hidden
	height: 500px
	h2
		margin 0 0 1em
	a 
		color #fff
		span 
			position: absolute;
			border-bottom-right-radius: 15px;
			overflow: hidden;
			b 
				display inline-block
				background-color: orange
				padding: 1em;
				text-shadow: 1px 1px #0000006e;
		p 
			font-size: 1.15em
			line-height: 1.35em;
	.first , .second
		float: left
	.first
		width: 30%
		.slider 
			height: 500px
			background-color: blue			
			text-align: center
			.slick-list, .slick-track
				height: 100%
			h2 
				line-height: 1.15em
				margin-bottom: .5em
			h4
				color #fff
				margin 0
			img 
				display inline-block
				max-width: 120px
			.slick-slide
				background-size: cover
			article 
				margin 0 auto 
				width: 75%
				max-width: 350px
				padding: 4.35em 0 0;
				letter-spacing: 1px
				line-height: 1.9em;
				font-size: 1.25em
				position: absolute;
				bottom: 0;
				text-align: left;
				width: 100%;
				max-width: initial;
				padding-left: 5%;
				p 
					font-size: 12px 
					color #fff
					line-height: 1.25em
	.second 
		width: 70%
		.slider 
			height: 250px;
			width: 50% 
			float left
			position relative
			background-size: 100% 100%
			background-repeat: center center
			.slick-list, .slick-track
				height: 100%
			img 
				height: 250px
				width: 100%
			article.info
				position: absolute
				width: 100%
				height: 100%
				top 0 
				left: 0
				opacity: 0
				background-color: #d28200eb
				transition-duration 0.2s
				padding: 1em 10%;
				text-align: center;
				h4 
					font-size: 2.5em;
					font-family: 'Baloo Bhaina';
					margin: 1.35em 0 .5em;
					text-shadow: 1px 1px #00000040;
					font-weight: normal;
					color #fff
			a:hover	
				article.info
					opacity: 1
	.slick-slide
		article
			background-size: cover;
			background-position: center;
		
.information
	overflow hidden
	padding-top 40px
	&.posts
		a 
			color #fff
	.entry-title
		a 
			color blue
	.wrapper 
		position relative
		.back-white
			background-color: #fff;
			overflow: hidden;
			padding-top: 3.5em;
			margin-bottom: 4em;
			position relative
			border-bottom-left-radius: 86px;
		&:before
			border-bottom-left-radius: 86px;
			background-color: #fff;
			content ""
			position: absolute 
			left 0 
			top 0
			width: 150%
			height: 100%
	.content-box, aside 
		float left
	.content-box
		width: 70%
		padding-bottom: 4em
		.list
			overflow-x hidden 
			padding: 2em;
			
	.buttons
		margin-bottom: 2em
		.news
			background-color: #c8501e
		.all-news
			color blue
		.newsletter
			background-color: orange
			border-bottom-right-radius 15px
		a 
			color #fff
			font-weight: bold
			display inline-block
			padding: .85em 1.35em;
.posts
	a.img , article
		float left  	
	a.img 
		margin-right: 2em;
		border-radius: 3px;
		overflow: hidden;
		box-shadow: 1px 0 13px -4px rgba(8,8,8,0.42);
		width: 233px;
		height: 165px;
		margin-bottom: 2em;
		img 
			float left
	a 
		color #00639e
	article 
		margin-bottom: 2em
		border-bottom 1px solid #fff
		font-size: 1em 
		line-height: 1.35em
		h2 
			margin-bottom: .35em
			line-height: 1.3em
	.date 
		display block
		color #666
		font-size: .9em
.view-more
	display: inline-block;
	background-color: #dddddd;
	padding: 1.5em 8em;
	color: #807f7f !important;
	margin-top: 0;
	transition-duration: .5s;
	border-radius: 5px;
	&:hover
		background-color: #333
		color #fff !important
.stats 
	background-color: blue
	color #fff
	padding: 4em 0 3.5em
	text-align: center
	b,small,span
		display inline-block
		vertical-align middle
	span 
		width: 24%
		b 
			font-size: 4em
			font-family: 'Baloo Bhaina';
			font-weight: 100;
		small 
			font-size: 1.1em;
			max-width: 100px;
			text-align: left;
			margin-left: 1em;
			margin-bottom: .8em;
			letter-spacing: 1px;
.tato 
	font-size: 0
	img 
		width: 100%

.links 
	text-align: center
	text-transform: uppercase
	color blue
	padding: 5em 0 2em
	max-width: 100%
	h2 
		margin 0 0 2em
	img 
		width: initial !important
	.slick-slide img
		display inline-block !important
		
footer
	background-color: #0094d5
	overflow hidden
	position relative 
	padding: 1em 0 0;
	h3, .h3
		font-size: 20px;
	.btn
		position: absolute;
		left: 50%;
		bottom: -.7em;
		font-size: 1.8em;
		width: 40px;
		height: 40px;
		padding: 0;
		text-align: center;
		background: #0094d6;
		line-height: 1.5em;
		border-radius: 50%;
		margin-left: -20px;
	h3 
		text-transform: uppercase
		max-width: 200px;
	a, h3, p
		color #fff
	ul,li 
		margin 0
		padding 0
		list-style: none
	li , a
		display block
	ul 
		margin-bottom: 1.5em
		&> li
			margin-bottom: .25em
	a 
		padding 0.35em 0
		font-size: .85em
	.wrapper 
		&>div
			float left 
			width: 20%
			padding-bottom: 1em
		.block 
			display none;
			padding: 0 1.5em 0 0;
	&.open 
		.wrapper > div 
			padding-bottom: 2em;
		.btn 
			bottom: 2.35em;
	.bottom 
		background-color: blue
		float left 
		width: 100%
		p 
			line-height: 2.35em;
			margin-bottom: 0;	
		.social 
			float: right;
			text-align: center;
			a 
				display: inline-block;
				font-size: 1.15em;
				padding: 0;
				width: 30px;
				height: 30px;
				text-align: center;
				border-radius: 50%;
				background: #fff;
				color: #00639e;
				margin: 0 .5em;
				line-height: 2em;
.menu-mobile,.menu-close,  .menu-top-mobile
	color: #00639e;
	position absolute
	font-size: 2em;
.menu-mobile
	right .3em
	top 1em
	display none
.menu-close
	right: .5em;
	top: .5em;
.menu-mobile-container
	nav , ul , li 
		display block
		padding 0 
		list-style: none
	a 
		display block
	nav 
		font-size: 1.35em;
		text-align: center;
		a 
			color: #00639e;
			font-weight: bold;
			padding: .5em 1em;
			border-bottom: 1px solid #a0a0a021;
	.ministerio
		margin-top: 1em
.menu-top-mobile-container
	background-color: blue
	padding-top: 1.5em
	.menu-close 
		top .1em
		right: .15em;
	a 
		color white	
		display block
		text-align: center
		padding: .5em;
.menu-top-mobile
	color #fff
	
/*ASIDE - MENU*/
.general
	overflow hidden
	padding-top: 1.5em
	margin 0 2em
	.custom-wrapper
		max-width: 1440px;
		margin 0 auto
	.aside-nav, .post-content
		float left
	.aside-nav
		width: 30%
		.sub-menu
			display none
		nav
			text-align: center
			margin-bottom: 3em
			overflow hidden
			ul,li 
				padding: 0;
				margin 0
			li
				display inline-block
				vertical-align: top
			li
				margin 2px 1px
				width: 48%
				// &.current-menu-item:last-child , &.current-menu-ancestor:last-child
				// 	float left
				// 	width: 98.1%;
				// 	margin-left: 1%;
			// ul.menu-menu-preparacion-container
			li.full
				width: 98%
			ul.dropdown
				text-align: left
				li 
					width: 100%
				a 
					background-color: orange 
					color #fff
					padding: .5em;
					height: initial
					&.active 
						background-color: purple
			a 
				background-color: blue
				height: 35px
				padding:1.2em .25em .4em
				color #fff
				transition-duration 0.35s
				vertical-align: middle
				display block
				&:hover , &.active
					background-color: orange
			li.current-menu-item, li.current-menu-ancestor, li.current-alertas-ancestor
				&>a
					margin-bottom: 3px
				a 
					background-color: orange
					color white
				.sub-menu 
					display block
					margin-left: 3em
					&>li.current-menu-item
						a 
							background-color: purple
					li 
						width: 100%
						margin 0
						&>a 
							height: initial
							padding:1.2em .25em 1em
			h3 
				color blue
				margin-bottom: 2em;
			.others 
				a 
					background-color: #FFF
					border-bottom 1px solid blue
					color blue
	.post-content
		width: 70%
		h1 
			font-size: 2em
			font-weight: normal
			font-family 'Baloo Bhaina'
			margin-bottom: .5em
			color blue
			margin-left: 1.25em
			a 
				color blue
		span.date 
			background-color: blue;
			color: #fff;
			display: inline-block;
			padding: 1em 1.5em;
			float: left;
			margin-left: 2.5em;
			margin-right: 1em;
			font-weight: bold;
			border-bottom-right-radius: 15px;
	.full-width.post-content
		width: 100%
		article , h1 
			padding-left 0
		h2,h3
			font-family 'Baloo Bhaina'
			color blue
.single-post .article
	text-align: initial;
.article-custom
	max-width: 700px
	margin 0 auto
	text-align: center
	line-height: 1.5em
	.display 
		text-align: initial
		&>div 
			display none
			text-align: justify
		&>div:first-child 
			display block
	.about-us 
		font-family 'Baloo Bhaina'
		margin-bottom: 3.5em
		border-bottom 2px solid orange
		text-align: center
		display inline-block
		a 
			color: blue
			padding: 1em 2em .75em;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			&:hover, &.active
				background-color: orange
				color #fff
		h2 ,a 
			display inline-block
			margin 0
			font-weight: normal
	.objetivos
		.goal
			display inline-block
			margin-bottom: 2em
			&>div, a, ul , li, span
				display inline-block
				margin 0 
				list-style: none
			&>div
				width: 48%
				vertical-align: middle
				a,span 
					vertical-align: middle
				span 
					width: 250px
					margin-left: 10px
			li,a 
				color #fff
			li 
				padding: .75em;
				margin-bottom: 3px
				border-radius: 10px;
				
			a
				width: 50px 
				height: 50px 
				border-radius: 50%;
				color #fff
				text-align: center
				font-size: 2.5em
				font-family 'Baloo Bhaina'
				line-height: 1.7em
			&.blue-style 
				a , li
					background-color: blue
			&.orange-style
				a , li
					background-color: orange
			&.purple-style 
				a , li
					background-color: purple
.single-coen
	.article-custom
		margin-left: 2.5em
		max-width: initial
.article
	margin-bottom: 3em
	padding: 1em 0 2.5em 0;
	text-align: justify
	line-height: 1.5em
	letter-spacing: 1px;
	ul , ol 
		list-style: none 
		padding 0
	li 
		padding-left: 3.5em;
		list-style: none 
		position relative
		&:before
			content "";
			position absolute 
			width: 4px 
			height: 4px 
			background-color: blue
			top .6em
			left: .5em
		&>ul 
			padding-top: 1em
	li, p
		margin-bottom: 1.25em
		letter-spacing: 1px;
	strong , h3
		color blue
	h3 
		font-weight: normal
		font-family: 'Baloo Bhaina';
		font-size: 1.4em
.table-block 
	margin-left: 2.4em
	margin-bottom: 4em
	h3 
		display inline-block
		margin 0
		color #fff
		font-weight: bold 
		padding: .8em 1.15em;
		font-size: 1em
		border-radius: 25px;
	p 
		font-weight: bold
	table 
		text-align: center
		width: 100%
		margin-bottom: 1em
		thead tr th 
			color #fff
			font-size: .8em
			padding: .4em .5em;
			height: 35px
		tbody tr td 
			padding: .5em 0;
			font-size: .75em
	&.blue-table 
		h3 
			background-color: blue
		p 
			color blue
		table thead tr th 
			background-color: blue 
	&.orange-table 
		h3 
			background-color: orange
		p 
			color blue
		table thead tr th 
			background-color: orange
	&.green-table 
		h3 
			background-color: greenLight
		p 
			color blue
		table thead tr th 
			background-color: greenLight
.advertising
	a 
		margin-bottom: 3em
		display block
/*Calendar*/
.calendar
	margin-bottom: 3em
	h3
		background-color: orange 
		color #fff
		padding: 1em 1em;
		font-size: 1em
		border-top-right-radius 15px
		margin-bottom: 0
		width: 70%
/*Responsive*/
.btn-aside-nav
	display: none;
	position: absolute !important;
	right: 0;
	top: .25em;
	width: 40px !important;
	padding: 0 !important;
	height: 40px !important;
	font-size: 1.35em;
	text-align: center !important;
	border: 1px solid rgba(102,102,102,0.4) !important;
	line-height: 2em;
	background-color: #FFF !important
	color #666 !important
	border-radius 10px
	&::before 
		display none
.list-news
	overflow hidden
	text-align: center
	margin-bottom: 2em
	article
		width: 32%
		display inline-block
		margin 0 0.5% 2em
		text-align: initial
		height: 360px
		min-width: 270px
		padding-bottom: 1.5em
		border-bottom 3px solid #666
		vertical-align: top
		img 
			margin-bottom: 1.3em
			width: 100%
		h3 
			margin 0 0 1.5em
			font-size: 1em
			line-height: 1.35em
		a 
			color #666
			font-weight: bold
			font-family 'Lato',sans-serif;
		p 
			font-weight: 100 
			font-size: .85em
			margin-bottom: 1.4em
			color #666
		.lnk-view		
			float right;	
			background-color:#062d6e59
			color #fff !important		
			text-transform: uppercase
			font-size: .7em
			border-radius 15px
	&.alerts-archive
		article 
			height: 210px
			margin 0 .5% 1em
			border-radius 10px;
			.btn-download 
				display inline-block
				color #fff
			.lnk-view, .btn-download
				font-size: 10px;
				padding: 1em 2em;	
			h3
				height: 100px	
				margin 0 0 4.5em
				padding: 5px;
				a 
					color #fff
article 
	a.img-icon
		float: left;
		margin: 10px 5px 5px;
		img 
			margin 0
.lnk-view		
	color #fff 
	width: 90px
	padding: .5em 0;
	text-align: center
.filter
	padding: 0 0 3em;
	padding-left: 2.5em
	color blue
	font-weight: bold
	span , select 
		display inline-block
	span 
		color #0095d7
	select 
		background-color: #0095d7
		color #fff
		border-radius 15px
		padding: 5px 15px;
		border 0
		min-width 150px
		margin 0 .4em
.jsmaps-text
	opacity: 0
.btns-dir
	float: right;
	margin-top: -3em;
	a 
		padding: 1em 1.5em ;
		color white 
		background-color: blue
		border-radius 15px
		&.active
			background-color: orange
		&:first-child
			border-top-right-radius 0
			border-bottom-right-radius 0
		&:last-child
			border-top-left-radius 0
			border-bottom-left-radius 0
.dir-msj 
	margin-left: 1.2em;
	color: #999;
	font-size: 2em;
	margin-top: 0;
.directorio
	margin-left: 2.4em
	overflow hidden
	float: left;
	&.desconcentradas
		.item 
			width: 50%
			padding: 0;
			strong 
				color blue
			.title 
				padding: 1.2em 1em;
				strong 
					color #fff
					font-size: 13px
			strong , p 
				display block
				max-width: initial
			&> strong, p 
				padding 0 10px;
			&>strong
				padding-top: 20px
			&>p
				padding-bottom: 20px
	.block 
		overflow hidden
		margin-bottom: 1em
	.title 
		background-color: blue
		color white 
		padding: 1.2em 2em;
		span 
			font-weight: bolder;
			text-transform: uppercase;
			color: #fff;
			font-size: .65em;
			letter-spacing: 2px;
	.item 
		float left 
		width: 40%
		padding: 1.5em 5% .5em;
		strong 
			color blue
			max-width 190px
			line-height: 1.35em
		p
			font-size: .95em;
		h4 
			color orange
			margin-top 0
.organigrama
	padding-left: 2.4em
	padding-top: 2em
.container
	float left
	position relative
.regions
	margin-bottom: 2em
	float left
	width: 100%
	a 
		float left
		background-color: blue
		color white
		padding: 1em;
		margin 2px 2px
		width: 14%
		width: 13%;
		height: 60px;
		text-align: center
		transition-duration 0.35s
		&:hover, &.active
			background-color: orange
	.container 
		float left
		width: 100%
.info 
	position absolute 
	width: 45%
	left 0
	top 0
	z-index 999
	.btn-more
		background-color: #64147d
		color #fff
		padding: .5em 1em;
		border-radius 15px
	.more 
		display none;
	.item
		&>div
			display none 
		&>div.active
			display block
.jsmaps-wrapper
	svg
		width: 100%
.recent-post-slider
	.slick-dots
		bottom: 0;
		left: 45%
		li 
			button 
				border: 2px solid #f79468;
		li.slick-active button
			background-color: #f79468;
			border: 2px solid #f79468;
			&:before 
				display none;
.recomienda
	overflow: hidden;
	display block !important
.mobile-top, .mobile-menu
	display none;
.header-left .header-content-logo
	position relative
@media(min-width:1024px)
	.btn-aside-nav
		display none !important
@media(min-width:1440px)
	.notifications 
		.first
			width: 45%
		.second 
			width: 55%
@media(max-width:1350px)
	.list-news
		padding-left: 0
		article 
			width: 45%
			margin 0 2%
			height: initial
			img 
				width: 100%
@media(max-width:1280px)
	.posts 
		margin: 0 2em;
	.single-main-content
		margin: 0 1em
	header 
		#na-menu-primary ul > li > a
			font-size: .8em !important
@media(max-width:1024px)
	header 
		#na-menu-primary ul > li.current-menu-item a
			background: #ecede7 !important;
			color: #ed8600 !important;
	.header-left .site-logo
		margin-bottom: 1em
	.row-top-menu
		display none;
	.mobile-top, .mobile-menu
		display block 
		position absolute;
		left: 0;
		font-size: 24px;
		top: .5em;
		z-index 99
	.mobile-menu
		right: 1em;
		left: initial;
		top: 1.35em;
		font-size: 30px;
	.main-menu
		float: left;
		width: 100%;
	#na-menu-primary ul>li
		float none
		text-align: right;
		width: 100%;
		max-width: initial
	.info-top
		display none;
	#na-menu-primary ul > li > ul
		visibility: initial
		opacity: initial
		position: initial !important
		box-shadow initial !important
	#na-menu-primary ul > li.current-menu-item a
		background: #fff !important; 
		color: #ed8600 !important; 
	header 
		#na-menu-primary ul.sub-menu > li > a
			text-align: right;
			padding-right: 1.5em !important;
	.topbar-left, .social-top
		float none
		width: 100%
		text-align: right
	.topbar-left
		a
			display block
			margin-bottom: 1em;
	.top
		height: initial
	header 
		.wrapper 
			margin 0 1em
		&>.wrapper 
			position: relative
			overflow: hidden;
			padding: 1.5em 0 .5em;
		nav, .ministerio
			display none
		.menu-mobile
			display: block;
			z-index: 99;
			top: 1.1em;		
	.notifications 
		height: initial
		.second, .first
			width: 100% !important
		.second 
			.slider
				height: 280px
				article 
					img 
						width: 100%
						height: 280px
		.first 
			.slick-dots
				margin-top: .5em
			.slider 
				height: 400px
				article 
					font-size: .95em
				iframe 
					width: 100% !important
	.information 
		background-color: #FFF
		.wrapper .back-white
			overflow: initial
		.content-box,aside
			width: 100%
		.content-box 
			margin-bottom: 1
			margin-bottom: 1.5em
	.menu-mobile-container nav
		position: absolute
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	.search-box 
		margin .5em 0
		input
			padding: .45em 1.5em .45em 2em;
		form:before
			top 0.6em
	.directorio
		margin-left: 0
	footer .wrapper
		margin 0 1em
		&>div
			width: 25%
	.alerts 
		article 
			a 
				font-size: 10px
	.filter 
		padding-left: 0
	.general
		max-width: 769px 
		margin 0 auto
		margin-bottom: 2em
		.post-content h1, .article 
			padding 0 
			margin 0
		.aside-nav, .post-content
			float none 
			display block
			width: initial
		.aside-nav
			
			nav 
				position relative
				h3 
					border-bottom 2px solid #666
					margin-bottom: 0
					padding: 1em 0;
					color #666
					text-align: left
				ul 
					display none
					li,a 
						padding: 0;
						height: initial
						background-color: #FFF
					li
						display block
						width: initial
					a
						color #333
						text-align: left
						padding: 1em 0 1em 1.35em;
						border-bottom: 1px solid #e8e8e8;
						position relative
						&:hover , &.active
							background-color: #FFF
						&:before
							position absolute 
							left: 0;
							top 1em
							color #999
		.post-content 
			margin-bottom: 2em
			span.date
				margin-left 0
			h1 
				font-size: 1.5em
				margin-bottom: 1em
	.calendar, .advertising
		display none
	.table-block
		margin-left: 0
	.single-main-content
		margin 0
	.information.posts
		margin 0
@media(max-width:769px)
	.mobile-menu
		top 1em
	.header-left .site-logo
		margin-bottom: 0;
		float: none;
		margin-right: 8%;
	.list-news
		article 
			width: 100%
			margin 0 0 1.5em
	.general
		margin 0 1em
		font-size: .9em
	
		.post-content
			h1 
				margin-bottom: .5em	
	.alerts 
		article 
			a 
				font-size: 10px
	.notifications .first .slider article
		font-size: .7em
	.article-custom .about-us a
		padding: .75em .5em;
	.article-custom
		margin-bottom: 3em
	header 
		.logo
			img 
				width: 180px
		.menu-mobile
			top: .735em
	.top 
		overflow hidden
		.menu-top-mobile
			position: relative
			float left
			padding: .35em .75em;
			font-size: 2em
		.wrapper
			a 
				display none
	.search-box
		margin-top: .8em;
	.notifications .first .slider
		height: 360px
	.stats span
		min-width: 160px;
		margin-bottom: 1em;
		font-size: .8em;
	.information .content-box .list
		font-size: .9em;
		padding: 0;
@media(max-width:680px)
	.banners 
		img 
			opacity: 0
	.article-custom 
		.goal > div
			min-width: 280px
			width: 100% !important
			margin-bottom: 1.5em !important
			text-align: center
			ul 
				padding 0
	.notifications .second .slider
		width: 100%	
	.posts 
		font-size: .85em
		p 
			font-size: 1.15em
			line-height: 1.25em;
		a.img
			width: 100%
			margin: 0 0 1em;
			img 
				width: 100%
	footer 
		.wrapper>div
			width: 100%
			text-align: center
			padding-bottom: 0 !important
			&:last-child
				padding-bottom: 1em !important
			h3 
				max-width initial
		.btn 
			bottom -.7em !important
			margin-left: -20px;
		.bottom 
			padding-top: 2em;
			text-align: center;
			padding-bottom: 1em;
	.stats span
		b
			font-size: 2em;
			display block
		small 
			max-width: 70px
			margin-left: 0 !important;
			text-align: center !important;
	.all-news
		display none !important
	.notifications .second .slider article img, .notifications .second .slider
		height: initial
	.notifications .second .slider
		.slick-dots
			display none !important
	.notifications .second .slider article.info
		font-size: .78em;
	.filter 
		padding-bottom: 2em
		span, select 
			text-align: center
			display block
			margin 0 auto
			margin-bottom: .5em
a.btn-green
	background-color: greenLight
	color white 
	padding .5em 1.5em
	font-weight: 900
	border-radius 15px
	margin-top: 2em
.list-aside-image
	margin 0 
	list-style: none
	&>div
		float left 
		width: 50%
		display block
		margin-bottom: 1em
		img 
			float left
			margin-right 1em 
			margin-bottom: 2em
		article 
			padding-right: 2em
.funtions
	margin 3em 0 2em
	&.defo 
		&>div 
			article 
				min-height: 90px
			img 
				margin-bottom: 4em
.process , .activities, .tasks-box
	.display-info
		display none 
		padding: 4em 2em;
		&:first-child
			display block
	.btns
		text-align: center
		a 
			display inline-block
			padding: 3.5em 2em 3.5em 0;
			font-weight: 900
			background-color: blue 
			color white 
			width: 28%
			text-align: right
			margin 0 5px
			background-repeat: no-repeat
			background-position: 1em center
			background-size: 50px 50px
			&:hover , &.active
				background-color: orange 
				color #fff
.activities
	.btns 
		a 
			width: 20%;
			padding: 1em;
			text-align: center;
			margin: 0 0px;	
	.display-info
		text-align: justify
		max-width: 700px;
		margin: 0 auto;	
.tasks-box 
	a.view-more
		background-color: orange 
		color #fff !important 
		display inline-block 
		padding: .5em 1.5em;
		border-radius:20px
	.btns 
		a 
			padding: .5em 2em ;
			border-radius 20px
			text-align: center
			width: 200px
			min-height: 40px
			vertical-align: top
			line-height: 2.8em
			&:first-child
				line-height: 1.5em
			&:hover, &.active
				background-color: purple
.first_gallery
	.article-content .entry-title 
		margin-bottom: 1em
		a
			color: #fff;
			font-size: 28px;
			display block
			line-height: 35px;
	.post-grid .article-content
		position: absolute;
		z-index: 99;
		bottom: 0;
		background: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.01) 1%,rgba(0,0,0,1) 110%);
		background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.01) 1%,rgba(0,0,0,1) 110%);
		background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.01) 1%,rgba(0,0,0,1) 110%);
		width: 100%;
.lists-posts-gallery
	.post-grid
		.bg-img
			height: 280px;
		.entry-header-title
			margin-top: 0
.post-grid 
	.bg-img
		background-size: cover 
		background-repeat: no-repeat
		background-position: center center
		height: 100%
		img 
			opacity 0
			max-height: 650px
.entry-header-title
	margin 20px;
	color #fff
.title-detail-section
	margin-top: .5em;
	margin-left: .3em;
	color #fff !important
.full-gallery-single
	background-color: #002338
	float left 
	width: 100%
	padding: 0 10%;
	.post-image, .bg-img
		height: 100%
	.first_gallery .post-grid
		height: 710px
		margin-bottom: 0
.description-gallery
	padding: 30px 0;
	font-size: 16px;
	float left 
	width: 100%
.recent-post_wrap
	.entry-header-title
		margin 0
		margin-left: 20px;
		margin-top: 0;
.lists-posts-gallery
	& > div 
		min-height: 400px
.aditional-info
	margin-bottom: 1.5em
.alerts-archive
	.aside-nav nav a
		height: 60px;
		padding: 1em .25em 1em;	
.loop-attach
	img
		width: 100px 
		height: 75px
		max-width: 100%
		margin-bottom: 20px
	ul 
		padding: 0;
		li 
			list-style-type: none
			margin-bottom: .1em
			a 
				padding-left: 1em
.jsmaps-wrapper
	width: 50% !important
	.jsmaps 
		left: 0;
		right: initial !important;
		width: 80% !important;
	.jsmaps-tooltip
		z-index 999;
.slider-last-videos
	.post-grid
		height: initial
	.post-image
		border-radius 0 !important
.full-video-page
	padding: 20px 10%;
	width: 100%;
	iframe
		width: 100%
		height: 550px
.clear
	clear both
	min-height: initial !important
.news-post
	position relative
a.view-posts
	display block 
	padding: 1em 2em;
	background: #cacaca;
	color #000
	text-align: center
	border : 0
	transition-duration 0.3s
	margin: 0 auto;
	margin-bottom: 4em;
	max-width: 550px;
	&:hover 
		background-color: blue
		color #fff
.pagination
	a, span 
		display inline-block 
		padding: .55em;
@media( min-width: 1600px)
	.notifications
		height: 600px;
		.second 
			.slider 
				height: 300px;
		.first
			height: 600px
			.slider 
				height: 100%
	.notifications 
		.slick-slide 
			article
				height: 100%
				background-size: 90%
@media(max-width:380px)
	.search-box input
		width: 190px
@media(max-width:320px)
	.notifications .first .slider
		height: 350px
	.alerts article a
		font-size: .55em
	.stats span
		min-width: 120px
		b
			font-size: 1.5em;
		small 
			max-width: 50px
	.search-box input
		width: 120px
	.banners img
		height: 350px
		min-height: initial
	footer 
		.btn 
			bottom 5em !important