blue = #00639e;
yellow = #edbe01;
green = #009045;
greenLight = #a7b82b;
orange = #ff9900;
red = #bf0811;
purple = #65147d;
.ministerio
	position: absolute;
	right: 0;
	top: 2.2em;
	img 
		margin-left: 1.75em;
.btns-dir
	float: right;
	margin-top: -3em;
	a 
		padding: 1em 1.5em ;
		color white 
		background-color: blue
		border-radius 15px
		&.active
			background-color: orange
		&:first-child
			border-top-right-radius 0
			border-bottom-right-radius 0
		&:last-child
			border-top-left-radius 0
			border-bottom-left-radius 0
.dir-msj 
	color: #999;
	font-size: 2em;
	margin-top: 0;
.directorio
	overflow hidden
	float: left;
	margin-top: 1em;
	&.desconcentradas
		.item 
			width: 50%
			padding: 0;
			strong 
				color blue
			.title 
				padding: 1.2em 1em;
				strong 
					color #fff
					font-size: 13px
			strong , p 
				display block
				max-width: initial
			&> strong, p 
				padding 0 10px;
			&>strong
				padding-top: 20px
			&>p
				padding-bottom: 20px
	.block 
		overflow hidden
		margin-bottom: 1em
	.title 
		background-color: #ecede7;
		color blue 
		padding: 1.2em 2em;
		span 
			font-weight: bolder;
			text-transform: uppercase;
			color: #fff;
			font-size: .65em;
			letter-spacing: 2px;
	.item 
		float left 
		width: 48%;
		padding: 1.5em 2em .5em;
		strong 
			color blue
			max-width 190px
			line-height: 1.35em
		p
			font-size: .95em;
		h4 
			color orange
			margin-top 0
.article-custom
	margin 0 auto
	line-height: 1.5em
	.display 
		text-align: initial
		&>div 
			display none
			text-align: justify
		&>div:first-child 
			display block
	.about-us 
		font-family 'Baloo Bhaina'
		margin-bottom: 3.5em
		border-bottom 2px solid orange
		text-align: center
		display inline-block
		a 
			color: blue
			padding: 15px 25px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			&:hover, &.active
				background-color: orange
				color #fff
		h2 ,a 
			display inline-block
			margin 0
			font-weight: normal
	.objetivos
		.goal
			display inline-block
			margin-bottom: 2em
			&>div, a, ul , li, span
				display inline-block
				margin 0 
				list-style: none
			&>div
				width: 48%
				vertical-align: middle
				a,span 
					vertical-align: middle
				span 
					width: 250px
					margin-left: 10px
			li,a 
				color #fff
			li 
				padding: .75em;
				margin-bottom: 3px
				border-radius: 10px;
				
			a
				width: 50px 
				height: 50px 
				border-radius: 50%;
				color #fff
				text-align: center
				font-size: 2.5em
				font-family 'Baloo Bhaina'
				line-height: 1.7em
			&.blue-style 
				a , li
					background-color: blue
			&.orange-style
				a , li
					background-color: orange
			&.purple-style 
				a , li
					background-color: purple
	.vision, .mision , .objetivos
		padding: 1em 0 2.5em;
		text-align: center
		h2
			color: orange;
			line-height: 2em;
			border-bottom: 3px solid;
			margin-bottom: 1.5em;
			text-align: left;
			background: #fff;
			padding: 0 .5em;
			border-color: orange
		&> div
			display inline-block
			width: 48%
			vertical-align: middle
			img 
				border-radius 8px;
				box-shadow 1px 2px 28px -2px #a2a2a2bf
			p 
				padding: 2em 3em;
				font-weight: bold
				color blue
	.mision 
		h2 
			text-align: right;
.banner-featured
	background-repeat: no-repeat
	background-size: cover 
	background-position: center center
	text-align: center;
	padding: 5em 0;
	position relative
	h1
		position relative 
		z-index 9
		color #fff
		text-align: right;
	&:before
		content ""
		position absolute
		top: 0;
		left: 0;
		width 100%
		height 100%
		background: #00050880;
	
.article 
	iframe 
		width 100%
		min-height: 500px
.video-indeci
	overflow hidden 
	border-radius 10px;
	margin-bottom: 2.5em;
	display block
	box-shadow 1px 2px 28px -2px rgba(162,162,162,0.749)
	background: #000
	iframe 
		width: 100%
		min-height: 450px;
.title-subline
	color: #f90;
	line-height: 2em;
	border-bottom: 3px solid;
	margin-bottom: .5em;
	text-align: left;
	background: #fff;
	padding: 0 .5em;
	border-color: #f90;
	padding-left: 0
.initial-page
	.article
		margin-bottom: 2em
	.box
		&>a 
			display: block;
			padding: 0 0 2em;
			text-align: left;
			color: #0063a1;
			border: 1px solid #ebebeb;
			border-radius: 5px;
			overflow: hidden;
			transition-duration 0.3s
			&:hover
				-webkit-transform: scale(1.02);
				-moz-transform: scale(1.02);
				-ms-transform: scale(1.02);
				-o-transform: scale(1.02);
				transform: scale(1.02);
			img 
				width: 100%;
				height: 320px
				margin-bottom: 1.2em;
		strong,small 
			display: block;
			line-height: 1.75em;
			padding: 0 30px;
		strong 
			font-size: 2em;
			margin-bottom: .1em