.mt-xs{margin-top: .5em;}
.mt-1{margin-top: 1em;}
.mt-2{margin-top: 2em;}
.mt-3{margin-top: 3em;}
.mt-4{margin-top: 4em;}
.mt-5{margin-top: 5em;}
.mr-1{margin-right: 1em;}
.mr-2{margin-right: 2em;}
.mb-1{margin-bottom: 1em;}
.mb-2{margin-bottom: 2em;}
.mb-3{margin-bottom: 3em;}
.nav-tabs>li {
    padding: 0;
}
.container{
    margin:auto;
    float:none;
}
body{font-size: 16px;font-family: 'Roboto', sans-serif!important;}
h1,h2,h3,h4,h5,h6{
    font-family: 'Baloo Bhaina', cursive;
    font-weight: 400!important;
}
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
    font-weight: 500!important;
}
strong{font-weight: bold;}
ul li{
    margin-bottom: .6em;
}
.ff-baloo{font-family: 'Baloo Bhaina', cursive;}
.ff-roboto{font-family: 'Roboto', sans-serif;}
.post-grid .article-content .entry-title a {
    font-size: 16px;
    font-family: 'Roboto', sans-serif!important;
    line-height: 1em;
}

/* COLORES OFICIALES */
.c-orange{color: #F5821E;}
.c-azul{color: #0069A5;}
.c-orange-sec{color: #F05A23;}
.c-cyan{color: #00AFF0;}
.c-morado{color: #6E2D87;}
.c-verde{color: #9BB83C;}
.bg-orange{background: #F5821E;color: white;}
.bg-azul{background: #0069A5;color: white;}
.bg-orange-sec{background: #F05A23;color: white;}
.bg-cyan{background: #00AFF0;color: white;}
.bg-morado{background: #6E2D87;color: white;}
.bg-verde{background: #9BB83C;color: white;}
/**/
.conflex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row-flex {
  display: flex;
  flex-wrap: wrap;
}
.conflex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.d-inblock {
    display: inline-block;
    vertical-align: middle;
}
/**/
.alerts article a {
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 0.5px; font-family: 'Roboto', sans-serif;
}
#na-menu-primary ul>li>a {font-size: .85em!important;font-family: 'Roboto', sans-serif; }
#na-menu-primary ul>li.current-menu-item a{
    background: #ed8600!important;
    color: #FFF!important;
}
.pos-relative{position: relative;}
.topbar-left a {
    padding: .8em 1em;
}
.link-high{background: #0069A5;color: white!important;border-radius: 3px;}
/*MEnu*/
.header-left .header-content-logo {
    padding: 20px 0;
}
.header-content-logo {
    min-width: 200px;
}
.main-menu{
    display: inline-block;
    text-align: center;
    margin-top: 1em;
}
.main-menu a{
    color:#0069A5!important;
    padding: 1em!important;
    font-size: .95em!important;
    letter-spacing: 0!important;
    line-height: 1em!important;
    font-weight: bold!important;
}
.main-menu a:hover{
    color:white!important;
}
.main-menu .sub-menu a:hover{
    background: #F5821E!important;
}
.main-menu ul>li[class*="-has-children"]>a:before {
    color: #0069A5!important;
    right: 2px!important;
    top: 15px!important;
    /*padding-right: 5px;*/
}
.main-menu ul>li[class*="-has-children"]>a:hover:before {
    content: "\e648"!important;
    color: white!important;
}
.recomienda{
    background: #edeee8;
    display: flex;
    padding-top: 40px;
}
/*Home*/
.unslider-arrow {
    background: rgba(0,0,0,.5);
}
.notifications .second .slider article.info {
    background-color: rgba(0,0,0,0.85);
}
.notifications{width: 100%;}
.notifications .first{width: 40%;}
.notifications .second{width: 60%;}
.first .slick-dots, .second .slick-dots{display: none;}
.notifications .second .slider img {
    object-fit: cover;
}
.information.posts{padding: 50px 0;}
/**/
/*.container{}*/
.video-indeci{margin-bottom: 1.5em;}
.content-text a{color: #f2b125;text-decoration: underline;}
.link-vermas{background-color: #F5821E;border-radius: 3px;padding: .3em 1.2em;transition: background-color 0.5s ease;text-decoration: none!important;color:#FFF!important;}
.link-vermas:hover{background:#F05A23;color:#FFF;}
blockquote p{color: #63636a; }
.link-azul, .link-azul-wide{background-color: #00639e;color:white;border-radius: 5px;}
.link-azul{padding: .3em 1em;}
.link-azul-wide{padding: .5em 1.5em;}
.link-azul, .link-azul-wide:hover{background-color: #ed8600;color:#dadada;text-decoration: none;}
.border{border:1px solid red;}
/**/
ul.slick-slider{margin: 0;padding: 0;}
ul.slick-slider li{margin: 0;padding: 0;}
.slick-slide{position: relative;} 
.slick-slide img {width: 100%;}
.slick-prev, .slick-next{opacity: 1;}
.article .slick-prev, .article .slick-next{margin-top: 0;}
.slick-prev{left:0;}
.slick-next{right:0;}
/**/
.item-resena{
	border-radius: 5px;
    background: #F5821E;
    color: white;
    width: 80%;
    left: 10%;
    margin-top: -3em;
    position: relative;
    padding: .5em 1em;
}
.item-resena p{margin-bottom: .3em;font-size: 1.1em;}
.item-resena span{font-size: .9em;}
.acc-directos-list, .masinfo-list{
    text-align: center;
}
.acc-directos-list p{
	font-size: 1.1em;
}
.masinfo-list img{
	width: 50%;
}
.crumbs{
    background-color: #f5f5f5;
    padding: 1em 0;
    overflow:hidden;
    border-radius: 4px;
    font-size: .85em;
    margin-bottom: 2em; 
}
.crumbs ul{margin: 0;padding: 0;}
.crumbs li{
	list-style:none;
    display:inline-block;
    vertical-align:middle;
}
.crumbs li:after{
    content: ">";
    padding: 0 .5em;
}
.crumbs li:last-child:after{
    content: "";
}
.crumbs a {
    color: #428bca;
    text-decoration: none;
}
/**/
.article-custom .objetivos .goal li, .article-custom .objetivos .goal a {
    color: #63636a;
}
.article-custom .vision> div, .article-custom .mision> div, .article-custom .objetivos> div {
    width: 100%; 
}
.article-custom .objetivos .goal {
    border-bottom: 1px solid #caccc4;
}
.article-custom .objetivos .goal li {
    text-align: left;
}
/*Stats*/
.stats {
    background-color: #00639e;
    color: #fff;
    padding: 4em 0 3.5em;
    text-align: center;
}
.stats b, .stats small, .stats span {
    display: inline-block;
    vertical-align: middle;
}
.stats span {
    width: 22%;
}
.stats span b {
    font-size: 3.5em;
    font-weight: 100;
    font-family: 'Baloo Bhaina', cursive;
}
.stats span small {
    font-size: 1.1em;
    max-width: 100px;
    text-align: left;
    margin-left: 1em;
    margin-bottom: .8em;
    letter-spacing: 1px;
}
.sidebar a,.sidebar ul li.current-menu-ancestor > a {
    color: #FFF;
}
.full-gallery-single {
    background-color: #000;
}
blockquote:before {
    font-family: "Font Awesome\ 5 Free";
    content: "";
}
.widgettitle, .box-title {
    font-weight: normal; 
    color: white;
}
.article-custom .vision> div p, .article-custom .mision> div p  {
    font-size: 1.2em;
    line-height: 1.2em;
}
.article-custom .objetivos .goal li, .article-custom .objetivos .goal a {
    color: #fbfbfb;
}
.article-custom .objetivos .goal li{
    border-bottom: 1px solid white;
    border-radius: 0;
}
.article-custom .objetivos .goal li:last-child{
    border-bottom: none;
}
.article-custom .objetivos .goal {
    padding: 2em 1em;
    border-radius: 10px;
}
/*.objetivos .obj-azul li {background: #0069A5;}
.objetivos .obj-orange li {background: #F5821E;}
.objetivos .obj-morado li {background: #6E2D87;}*/
.btns-dir a.active {
    color: white;
}
.directorio.desconcentradas .item .title {
    /*color: #0069A5;*/
    font-size: 13px;
}
.acercade h2{font-size: 1.7em;}
.acercade div{text-align: center;}
.cate-tag a{
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase; 
    font-weight: 600;
    padding: 4px 13px;
    border-radius: 3px;
    background-color: #F5821E;
    line-height: 22px;
}
.vid-lista .btn-play i{font-size: 35px;}
.table-block {
    margin-bottom: 2em;
}
.table-block table thead tr th {
    font-size: .95em;
    padding: .7em;
    height: auto; 
}
.table-block table tbody tr td {
    padding: 1em 0 .5em .7em;
    font-size: .9rem;
    text-align: left;
}
.table-block h3 {
    margin-bottom: 1em;
}
/*.mapsite ul li {
    list-style: none;
    margin-bottom: .5em;
    padding-left: 1.5em;
}
.mapsite ul li:before{
    width: 5px;
    height: 5px;
    border-radius: 50%;
}*/
.mapsite > ul > li {
    font-weight: bold;
    margin: .5em 1em;
    color: #0069A5;
}
.mapsite ul li a{
    color: #0069A5;
    text-decoration: underline!important;
}
.mapsite > ul > li > ul li{
    font-weight: normal;
    margin-left: 1em;
    color: #0a0a0a;
}
.mapsite > ul > li > ul > li > a{
    color: #0a0a0a!important;
}
.mapsite > ul > li a:hover{
    color: #ed8600!important;
    font-weight: bold!important;
}

.article li:before {
    content: "";
    width: 0;
    height: 0;
    background-color: none;
}
.article ul, .article ol {
    padding-left: 2.5em;
}
.article ul li, .article ol li {
    padding-left: 0;
}
.entry-header-title {
    margin: 0 10px;
}
.acc-directos-list a:hover{
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

footer .wrapper>div {
     padding-bottom: 0; 
}
footer .bottom {
    padding: .5em 1em .5em 1em;
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.acc-directos-list img{
		width: 270px;
		height: 180px;
		object-fit: cover;
	}
}

/*// Large devices (desktops, 992px and up)*/
/*@media (min-width: 992px) {

}*/


/*.video-indeci{margin-bottom: 1.5em;}
.mt-1{margin-top: 1em;}
.mt-2{margin-top: 2em;}
.mt-3{margin-top: 3em;}
.content-text a{color: #f2b125;text-decoration: underline;}
.btn-link{padding: .5em 1em;background-color: #00639e;color:white;border-radius: 5px;}
.btn-link:hover{background-color: #ed8600;color:#dadada;text-decoration: none;}
.border{border:1px solid red;}*/